{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block content %}
{% if session.get("user_id")%}
<h1 class="mb-4">Welcome {{session['username']}}!</h1>
{% else %}
<h1 class="mb-4">BEST GAMES OF ALL TIME!</h1>
{% endif %}
<div class="container d-flex flex-row justify-content-around flex-wrap">
    {% for game in games %}
    <div class="card mb-2" style="width: 18rem;">
        <img src="{{game.url}}" class="card-img-top" alt="{{game.name}} cover">
        <div class="card-body">
            <h5 class="card-title">{{game.name}}</h5>
            <p class="card-text">Rating: {{game.rating}}/100</p>
<!--            TODO: Link to the game shop like steam, uplay with the game-->
<!--            TODO: And 'add to log' and 'want to play' button-->
            <a href="#" class="btn btn-primary">TODO</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}