{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block content %}
{% if session.get("user_id")%}
<h1 class="mb-4">Welcome {{session['username']}}!</h1>
{% else %}
<h1 class="mb-4">BEST GAMES OF ALL TIME!</h1>
{% endif %}
<div class="container d-flex flex-row justify-content-around flex-wrap">
    {% for game in games %}
    <div class="card mb-2" style="width: 18rem; height: 25rem;">
        <img src="{{game.url}}" class="card-img-top" alt="{{game.name}} cover">
        <div class="card-body flex-grow-1 text-center d-flex flex-column align-items-center justify-content-center">
            <h4 class="card-title flex-grow-1">{{game.name}}</h4>
            <p class="card-text">Rating: {% if game.rating != "NaN" %}{{game.rating}}/100 {% else %}not available{% endif %}</p>
            <div class="container">
                <a href="#" class="btn btn-primary"><i class="bi bi-plus-circle"></i></a>
                <a href="#" class="btn btn-primary"><i class="bi bi-controller"></i></a>
                <a href="#" class="btn btn-primary"><i class="bi bi-check-circle"></i></a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}