{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block content %}
{% if session.get("user_id")%}
<form action="/game/search" method="post" class="m-5" style="max-width:400px; width:100%;">
    <div class="mb-3">
        <label for="game_name" class="form-label">Game name:</label>
        <input type="text" class="form-control" name="game_name" id="game_name">
    </div>
    <button type="submit" class="btn btn-primary w-100 mt-2">Search</button>
</form>
{% if data %}
<hr>
<h1 class="mb-5">Results for '{{request}}'</h1>
<div class="container d-flex flex-row justify-content-around flex-wrap">
    {% for game in data %}
    <div class="card mb-2" style="width: 18rem; height: 25rem;">
        <img src="https://images.igdb.com/igdb/image/upload/t_logo_med_2x/{{game.img_id}}.jpg" class="card-img-top" alt="{{game.name}} cover">
        <div class="card-body flex-grow-1 text-center d-flex flex-column align-items-center justify-content-center">
            <h4 class="card-title flex-grow-1">{{game.name}}</h4>
            <p class="card-text">Rating: {% if game.rating != None %}{{game.rating}}/100 {% else %}not available{%
                endif %}</p>
            <div class="container">
                <form action="/game/{{game.id}}/status" method="post">
                    <input type="hidden" name="game_name" value="{{game.name}}">
                    <input type="hidden" name="game_rating" value="{{game.rating}}">
                    <!--TODO: IN FUTURE (Have to add table column)<input type="hidden" name="game_url" value="{{game.url}}">-->
                    <button type="submit" class="btn btn-primary" name="type" value="Wish"><i
                            class="bi bi-plus-circle"></i></button>
                    <button type="submit" class="btn btn-primary" name="type" value="Playing"><i
                            class="bi bi-controller"></i></button>
                    <button type="submit" class="btn btn-primary" name="type" value="Finished"><i
                            class="bi bi-check-circle"></i></button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% else %}
<h1 class="mb-4">Please login to search games</h1>
{% endif %}
{% endblock %}